/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
ul{
list-style: none;
}
.nav-wrapper{
	width:100%;
	height:48px;
	background-color:gray;
}
.nav-wrapper li{
	padding-left: 10px;
	padding-right: 10px;
	position:relative;
	float:left;
	font-weight:600;
	height: inherit;
}
.nav-wrapper a{
	color:white;
	
}
.nav-wrapper li a:hover {
  color: #06b1e1;
  text-decoration:none
}
.logo img{
	width:15%;
}
.mobile-menu{
	
}
.nonmobile-menu{
}
.main-menu{
	float:right;
}
.main-menu